<div class="dashboard-container">
  <!-- Sidebar Component -->
  <app-org-sidebar 
    [currentView]="currentView" 
    (viewChanged)="onSidebarViewChange($event)">
  </app-org-sidebar>

  <!-- Main Content -->
  <main class="main-content">
    @if (currentView === 'settings') {
      <router-outlet></router-outlet>
    }

    @if (currentView === 'dashboard') {
      <app-dashboard></app-dashboard>
    }

    @if (currentView === 'facilities') {
      <app-org-facilities></app-org-facilities>
    }

    @if (currentView === 'equipment') {
      <app-org-equipment></app-org-equipment>
    }

    @if (currentView === 'requests') {
      <app-org-my-request></app-org-my-request>
    }
  </main>
</div>